@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
}

/* header */
.header {
  height: 64px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .logo {
  margin-right: auto;
  padding-left: 380px;
}

.header ul {
  display: flex;
  margin-right: 60px;
  padding-right: 380px;
}

.header ul li a {
  display: block;
  padding: 0 18px;
  height: 64px;
  line-height: 64px;
}

.header .btn {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* container */
.container {
  width: 1160px;
  margin: 0 auto;
}

/* slide */
.slide_container {
  height: 600px;
  background: url('../images/bg_01.png') no-repeat;
  background-position: right;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.container .slide {
  display: flex;
  height: 600px;
  justify-content: center;
  flex-direction: column;
}

.slide_container h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 80px;
}

.slide_container li {
  display: flex;
  justify-content: left;
  margin-top: 86px;
  align-items: center;
}

.slide_container p {
  padding: 0 50px 0;
  line-height: 1.6;
  text-decoration: underline;
}

.slide_btn {
  display: block;
  width: 168px;
  height: 46px;
  background: #111111;
  line-height: 46px;
  color: #fff;
  text-align: center;
  border-radius: 55px;
}

/* section_01 */
.blog {
  display: flex;
  justify-content: space-between;
  margin: 140px 0 100px 0;
  line-height: 1.4;
}

.blog li {
  width: 560px;
  height: 320px;
  background: #f0f5f9;
  padding: 40px;
  box-sizing: border-box;
  /* display: flex; */
}

.blog li h4 {
  font-size: 30px;
  font-weight: 800;
}

.blog li p {
  margin: 16px 0 30px 0;
  font-size: 18px;
  color: #666;
}

.blog li p a {
  font-size: 14px;
}

.sec_01_btn {
  display: block;
  width: 168px;
  height: 46px;
  background: #f5f5f5;
  border-color: black;
  line-height: 46px;
  color: #000;
  text-align: center;
  border-radius: 55px;
}

/* section_02 */
.sec_02 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0 72px;
}

.sec_02 .container h4 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 32px;
}

.sec_02 .container p {
  color: #666;
  padding-bottom: 66px;
}

.itmes {
  display: flex;
  justify-content: space-between;
}

.itmes li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #f5f5f5;
  width: 260px;
  height: 260px;
  margin-right: 40px;
  margin-bottom: 160px;
}

.sec_02 .series div {
  margin: 0 20px;
}

/* section_03 */
.sec_03 {
  background: url(../images/bg_02.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.section .sec_03 .container {
  display: block;
}

.section .sec_03 h2 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 169px;
  color: #fff;
  margin-bottom: 42px;
}

.section .sec_03 p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  padding-bottom: 56px;
}

.section .sec_03 .slide_btn {
  display: block;
  width: 168px;
  height: 46px;
  background: #f2f2f2;
  line-height: 46px;
  color: #111111;
  text-align: center;
  border-radius: 55px;
}

/* section_04 */
.sec_04 .container h4 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 32px;
  padding-top: 140px;
}

.sec_04 .series .itmes {
  display: flex;
  justify-content: space-between;
}

/* section_05 */
.sec_05 .container .itmes {
  display: flex;
  align-items: center;
  width: 360px;
  height: 360px;
  background: red;
  border-radius: 30px;
}

.sec_05 .itmes {
  display: flex;
  justify-content: space-between;
}

.itmes li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 40px;
  margin-bottom: 160px;
}

.sec_05 .series div {
  margin: 0 20px;
}

/* footer */
.footer {
  background: #222222;
  padding: 120px 0;
  color: #fff;
  overflow: hidden;
}

.footer .left {
  float: left;
  width: 700px;
}

.footer .left .email_ad {
  margin-top: 41px;
  line-height: 20px;
  margin-bottom: 14px;
}

.footer .right {
  float: right;
}

.footer .buttons .store {
  display: flex;
  margin-right: 20px;
}

.footer .buttons .icon {
  display: flex;
  margin-right: 16px;
}

.footer .right .bottom_menu > li {
  display: inline-block;
  padding-right: 130px;
}

.footer .right .bottom_menu > li:last-child {
  padding-right: 0;
}

.footer .right .bottom_menu > li > a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer .right .bottom_menu ul li {
  padding: 10px 0;
}
