@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  margin-bottom: 140px;
}

.btn {
  background: #111;
  color: #fff;
  display: inline-block;
  padding: 14px 40px;
  border: 1px solid #111;
  border-radius: 28px;
}

.btn_line {
  background: transparent;
  color: #111;
  padding: 10px 26px;
}

/* header */
.header {
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav a {
  font-size: 14px;
  height: 80px;
  display: block;
  line-height: 80px;
  padding: 0 30px;
}

.shop_cart {
  position: relative;
}

.shop_cart i {
  font-size: 24px;
}

.shop_cart span {
  background: red;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 16px;
}

/* contents */
/* slide */
.slide {
  background: #f5f5f5;
}

.slide .container {
  height: 600px;
  background: url('../images/bg_01.png') no-repeat right 50%;
}

.slide_text {
  padding-top: 162px;
}

.slide_text h2 {
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 86px;
}
.slide_text .btns {
  margin-left: 30px;
}

.slide_text .btns .view {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #222;
  margin-right: 30px;
}

/* section_01 */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 560px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(1) {
  background: #f5f5f5 url('../images/watch-ov.png') no-repeat 8% 50%;
}

.card:nth-child(2) {
  background: #f5f5f5 url('../images/buds-ov.png') no-repeat 8% 50%;
}

.card__info {
  margin-left: 120px;
}

.card__info h3 {
  font-weight: 800;
  font-size: 30px;
}

.scetion_01 .card__info p {
  margin: 20px 0 38px 0;
  color: #666666;
}

/* section_02 */
.scetion_02 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 0 72px;
}

.scetion_02 .container h2 {
  font-size: 36px;
  font-weight: 800;
}

.scetion_02 .container p {
  font-size: 16px;
  margin: 32px 0 66px 0;
  color: #666666;
}

.scetion_02 .container .items {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.scetion_02 .container .items img {
  margin: 50px 54px 50px 46px;
}

.container .items li {
  background: #f5f5f5;
  margin-right: 40px;
  height: 260px;
  width: 260px;
  justify-content: space-between;
}

.container .items li:nth-child(4) {
  margin: inherit;
}

/* banner */
.banner {
  /* background: black; */
  background: #222 url('../images/bg_02.png') no-repeat center / cover;
}

.banner .container {
  height: 600px;
}

.banner_text {
  padding-top: 162px;
}

.banner_text h2 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.banner_text p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  margin: 42px 0 56px 0;
}

.banner_text .btns a {
  background: #fff;
  color: #111;
  display: inline-block;
  border: 1px solid #111;
  border-radius: 28px;
}

/* section_03 */
.scetion_03 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scetion_03 .container h2 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 48px;
}

.scetion_03 .container p {
  font-size: 16px;
  margin: 32px 0 66px 0;
  color: #666666;
}

.scetion_03 .container .items {
  display: flex;
  flex-wrap: wrap;
}

.scetion_03 .container .items img {
  margin: 50px 54px 50px 45px;
}

.scetion_03 .container .items li {
  background: #f5f5f5;
  margin-right: 40px;
  margin-bottom: 40px;
  height: 260px;
  width: 260px;
  justify-content: space-between;
}

.scetion_03 .container .items li:nth-child(4n) {
  margin: inherit;
}

.scetion_03 .container .items li:nth-child(5),
.scetion_03 .container .items li:nth-child(6),
.scetion_03 .container .items li:nth-child(7),
.scetion_03 .container .items li:nth-child(8) {
  margin-bottom: inherit;
}

/* section_04 */
.scetion_04 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scetion_04 .container h2 {
  font-size: 36px;
  font-weight: 800;
}

.scetion_04 .container p {
  font-size: 16px;
  margin: 32px 0 66px 0;
  color: #666666;
}

.scetion_04 .items {
  display: flex;
  justify-content: space-between;
}

.scetion_04 .items li {
  width: 360px;
  height: 360px;
}

.scetion_04 .container .items li:nth-child(3) {
  margin: inherit;
}

/* footer */
/* footer_left */
.footer {
  background: #222222;
  color: #fff;
  overflow: hidden;
  padding: 120px 0;
}

.footer .left {
  float: left;
}

.footer .footer_logo {
}

.footer .footer_logo p {
  margin: 46px 226px 14px 0;
  line-height: 1.6;
  font-size: 14px;
}

.footer .email_box {
  display: flex;
}

.footer .email_box .email {
  background: #fff;
  width: 358px;
  height: 50px;
  color: #666666;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer .email p {
  margin-left: 20px;
}

.footer .email_box .email_button {
  background: #eb5757;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .store .store_button {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer .store .store_button li {
  margin-right: 20px;
}

.footer .sns {
  display: flex;
}

.footer .sns img {
  margin: 0 16px 65px 0;
}

.footer .sns p {
  color: #f2f2f2;
}

/* footer_right */
.footer .right {
}

.footer .right .bottom_menu {
  display: flex;
}

.footer .right .bottom_menu > li {
  display: inline-block;
  padding-right: 130px;
}

.footer .right .bottom_menu > li:last-child {
  padding-right: 0;
}

.footer .right .bottom_menu > li > a {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 52px;
}

.footer .right .bottom_menu ul li {
  margin-bottom: 30px;
}

.copyright {
  clear: both;
}
