@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  margin-bottom: 140px;
}

.btn {
  background: #111;
  color: #fff;
  display: inline-block;
  padding: 14px 40px;
  border: 1px solid #111;
  border-radius: 28px;
}

.btn_line {
  background: transparent;
  color: #111;
  padding: 10px 26px;
}

/* header */
.header {
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav a {
  font-size: 14px;
  height: 80px;
  display: block;
  line-height: 80px;
  padding: 0 30px;
}

.shop_cart {
  position: relative;
}

.shop_cart i {
  font-size: 24px;
}

.shop_cart span {
  background: red;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 16px;
}

/* contents */
/* slide */
.slide {
  background: #f5f5f5;
}

.slide .container {
  height: 600px;
  background: url('../images/bg_01.png') no-repeat right 50%;
}

.slide_text {
  padding-top: 162px;
}

.slide_text h2 {
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 86px;
}
.slide_text .btns {
  margin-left: 30px;
}

.slide_text .btns .view {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #222;
  margin-right: 30px;
}

/* section_01 */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 560px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(1) {
  background: #f5f5f5 url('../images/watch-ov.png') no-repeat 8% 50%;
}

.card:nth-child(2) {
  background: #f5f5f5 url('../images/buds-ov.png') no-repeat 8% 50%;
}

.card__info {
  margin-left: 120px;
}

.card__info h3 {
  font-weight: 800;
  font-size: 30px;
}

.card__info p {
  margin: 20px 0 38px 0;
}

/* section_02 */
.scetion_02 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 72px;
}

.container h2 {
  font-size: 36px;
  font-weight: 800;
}

.container p {
  font-size: 16px;
  margin: 32px 0 66px 0;
  color: #666666;
}

.container .items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .items li {
  background: #f5f5f5;
  height: 260px;
  width: 260px;
  justify-content: space-between;
}

/* banner */
.banner {
  background: black;
}

.banner .container {
  height: 600px;
  background: url('../images/bg_02.png') no-repeat right 50%;
}

.banner_text {
  padding-top: 162px;
}

.banner_text h2 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.banner_text p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 42px 0 56px 0;
}

.banner .btns {
  color: white;
}

.banner .btns a {
  color: black;
}

/* section_03 */

/* section_04 */
